<section>
  <div id="title">
    <h1>Hello to Angular</h1>
  </div>

  <div id="content">
    <table border="1">
      <thead>
        <tr>
          <th>№</th>
          <th>Регион</th>
          <th>Страна</th>
          <th>Сталь</th>
          <th>Уголь</th>
          <th>Нефть</th>
          <th>Действия</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let statsItem of stats.stats; let idx = index">
          <td>{{ idx + 1 }}</td>
          <td>
            <input
              [value]="statsItem.country.region"
              (input)="setRegion($event, idx)"
            />
          </td>
          <td>
            <input
              [value]="statsItem.country.country"
              (input)="setCountry($event, idx)"
            />
          </td>
          <td>
            <input
              type="number"
              [value]="statsItem.products.steel"
              (input)="setSteel($event, idx)"
            />
          </td>
          <td>
            <input
              type="number"
              [value]="statsItem.products.coal"
              (input)="setCoal($event, idx)"
            />
          </td>
          <td>
            <input
              type="number"
              [value]="statsItem.products.oil"
              (input)="setOil($event, idx)"
            />
          </td>
          <td class="center">
            <button class="danger" (click)="deleteStatItem(idx)">
              Удалить
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="ulils">
    <button (click)="setDefaultData()">Generate default stats</button>

    <button (click)="createStatItem()">Добавить</button>
  </div>
</section>
